// Ant Design Library
@import '../node_modules/antd/dist/antd.css';

// Fonts
@import "./css/fontiran.css";

$font-family: IRANSans, Tahoma, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;

body {
    direction: rtl;
    font-family: $font-family;
}

.ant-statistic-content {
    font-family: $font-family;
}

.login-container {
    margin: 10% auto;
    width: 50%;
    max-width: 300px;
}

.ant-row {
    &.mb {
        margin: 2px 2px 3px 2px;
    }

    &.input {
        label {
            font-weight: 400;
        }
    }
}

.ltr {
    direction: ltr
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.page {
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.ant-page-header-title-view-extra {
    right: auto;
    left: 24px;
}

.ant-row.rtl {
    .ant-col {
        float: right !important;
    }
}

.ant-form-item.rtl label {
    line-height: 40px;
    font-weight: 600;
    text-align: right;
    display: block;
}

.ant-form-item {
    margin-bottom: 5px;
    &-label {
        padding: 0 !important;
    }
}

.ant-menu-item .anticon {
    margin-right: 0;
    margin-left: 10px;
}

.ant-page-header-back {
    direction: ltr;
    float: left;
}

.margin-horizontal {
    margin: {
        left: 5%;
        right: 5%;
    }
}

// .ant-modal-close {
//     right: auto;
//     left: 0;
// }

.ant-btn > .anticon + span {
    margin-left: 0;
    margin-right: 8px;
}